<h1>List of all the articles</h1>
<% for i in 0..@list.length-1 %>
<p class="article_title" >title: <%=@list [i][0] %></p>

<p>Date: <%=@list[i][2] %></p>
<p class="article_author">Author: <%=@list[i][1] %></p>
<p>Description: <%=@list[i][3]%></p>
<% end %>

I wanna calll <%= @list [3][3] %>
