<div class="alert alert-success">
  <strong>Success!</strong>  you have completed the form.
</div>
 Dear
<div class="div_align_left"><p class="article_author"><%= @article.surname %></p></div>
<div class="div_align_left"><p class="article_author"><%= @article.firstname %></p></div>
<div class="div_align_left"><p class="article_author"><%= @article.date_of_birth %></p></div>
<div class="div_align_left"><p class="article_author"><%= @article.move_in_date %></p></div>
<div class="div_align_left"><p class="article_author"><%= @article.new_address %></p></div>
<div class="div_align_left"><p class="article_author"><%= @article.new_postal_code %></p></div>
<div class="div_align_left"><p class="article_author"><%= @article.old_address %></p></div>
<div class="div_align_left"><p class="article_author"><%= @article.old_postal_code %></p></div>
<div class="div_align_left"><p class="article_author"><%= @article.nationality %></p></div>
<div class="div_align_left"><p class="article_author"><%= @article.religion %></p></div>
<div class="div_align_left"><p class="article_author"><%= @article.marital_status %></p></div>
<div class="div_align_left"><p class="article_author"><%= @article.date_of_marriage %></p></div>
<div class="div_align_left"><p class="article_author"><%= @article.serial_number %></p></div>
<div class="div_align_left"><p class="article_author"><%= @article.place_of_issue %></p></div>
<div class="div_align_left"><p class="article_author"><%= @article.date_of_issue %></p></div>
<div class="div_align_left"><p class="article_author"><%= @article.expired_date %></p></div>
<div class="div_align_left"><p class="article_author"><%= @article.serial_number_pass %></p></div>
<div class="div_align_left"><p class="article_author"><%= @article.place_of_issue_pass %></p></div>
<div class="div_align_left"><p class="article_author"><%= @article.date_of_issue_pass %></p></div>
<div class="div_align_left"><p class="article_author"><%= @article.expired_date_pass %></p></div>
