Dear <div class="div_align_left"><p class="article_author"><%=@surname%></p></div> 
<div class="div_align_left"><p class="article_author"><%= @firstname%></p></div> 
<div class="div_align_left"><p class="article_author"><%=@birthdate%></p></div>
<div class="div_align_left"><p class="article_author"><%=@move_in_date%></p></div> 
<div class="div_align_left"><p class="article_author"><%=@new_address%></p></div>
<div class="div_align_left"><p class="article_author"><%=@new_postal_code%></p></div>
<div class="div_align_left"><p class="article_author"><%=@old_address%></p></div>
 <div class="div_align_left"><p class="article_author"><%=@old_postal_code%></p></div>
 
You have succsessfully downloaded a pdf
