Dear 
<div class="div_align_left"><p class="article_author"><%=@surname%></p></div> 
<div class="div_align_left"><p class="article_author"><%= @firstname%></p></div> 
<div class="div_align_left"><p class="article_author"><%=@birthdate%></p></div>
<div class="div_align_left"><p class="article_author"><%=@move_in_date%></p></div> 
<div class="div_align_left"><p class="article_author"><%=@new_address%></p></div>
<div class="div_align_left"><p class="article_author"><%=@new_postal_code%></p></div>
<div class="div_align_left"><p class="article_author"><%=@old_address%></p></div>
<div class="div_align_left"><p class="article_author"><%=@old_postal_code%></p></div>
<div class="div_align_left"><p class="article_author"><%=@nationality%></p></div>
<div class="div_align_left"><p class="article_author"><%=@religion%></p></div>
<div class="div_align_left"><p class="article_author"><%=@marital_status%></p></div>
<div class="div_align_left"><p class="article_author"><%=@date_of_marriage%></p></div>
<div class="div_align_left"><p class="article_author"><%=@id_nr%></p></div>
<div class="div_align_left"><p class="article_author"><%=@sirial_number%></p></div>
<div class="div_align_left"><p class="article_author"><%=@place_issue%></p></div>
<div class="div_align_left"><p class="article_author"><%=@date_issue%></p></div>
<div class="div_align_left"><p class="article_author"><%=@expired_date%></p></div>
<div class="div_align_left"><p class="article_author"><%=@sirial_number%></p></div>
<div class="div_align_left"><p class="article_author"><%=@place_issue%></p></div>
<div class="div_align_left"><p class="article_author"><%=@date_issue%></p></div>
<div class="div_align_left"><p class="article_author"><%=@expired_date%></p></div>


 
<button type="button" class="btn btn-success">You have succsessfully downloaded a pdf </button>

