<p id="notice"><%= notice %></p>

<h1>Listing Locations</h1>

  <div id="map"></div>

<div class="locations" >
  <ul>
    <% @locations.each do |location| %>
    <li>
      <a href="#" onclick="javascipt:map.panTo({lat: <%= location.lat %>, lng: <%= location.long %>}); map.setZoom(16)"><%= location.name %></a> |
      <%= link_to 'Edit', edit_location_path(location) %> |
      <%= link_to 'Delete', location, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
    <% end %>
    </ul>

  <br>

  <%= link_to 'New Location', new_location_path %>

  <script type="text/javascript">

    var directionsDisplay;
    var directionsService;
    var map;

    function initMap() {

      map = new google.maps.Map(document.getElementById('map'), {
         center: {lat: 52.5060713, lng: 13.3962265},
         zoom: 11
      });

      <% @locations.each do |location| %>
        new google.maps.Marker({
            map: map,
            position: {lat: <%= location.lat %>, lng: <%= location.long %>},
            title: '<%= location.name %>' });
      <% end %>



     navigator.geolocation.getCurrentPosition(calcRoute);



    function calcRoute(position) {

      directionsDisplay = new google.maps.DirectionsRenderer();
      directionsService = new google.maps.DirectionsService();

      var start = {lat: position.coords.latitude, lng: position.coords.longitude};
      var end = {lat: 52.5376581, lng: 13.3496172};
      var request = {
        origin:start,
        destination:end,
        travelMode: google.maps.TravelMode.DRIVING
      };

      directionsDisplay.setMap(map);

      directionsService.route(request, function(result, status) {
        //console.log(directionsDisplay);
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(result);
        }
      });
    }
  }




   </script>

   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_viYAPxX0PcTdcTS6ep58Ot9ZtgYsqNU&callback=initMap"
   async defer></script>

 </body>
  </html>
